services:
  nginx:
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile
    container_name: nginx
    ports:
      - "6443:443"
    restart: unless-stopped
    volumes:
      - wp-volume:/var/www/html:ro

  wordpress:
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    container_name: wordpress
    restart: unless-stopped
    expose:
      - "9000"
    volumes:
      - wp-volume:/var/www/html

volumes:
  wp-volume: {}
